# IDE
.idea/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
.env

# frontend
/frontend/node_modules/

# backend
/backend/__pycache__/
/backend/venv/
/backend/.env
/backend/temp/

# database & SQLite
*.db
/backend/*.db

# semantics extraction scripts and files
/backend/column_semantics.json
/backend/column_semantics_clean.json
/backend/fetch_semantics.py
/backend/parse_semantics.py
/backend/test_fiszki_extracted/

# local test H5P files
*.h5p
/backend/*.h5p

