fastapi
uvicorn
lxml
python-multipart
openai
deepl
SQLAlchemy
psycopg2-binary
langchain
langchain-openai
python-dotenv
alembic
google-genai
tenacity
python-jose[cryptography]
passlib
bcrypt==3.2.2
pydantic[email]
fastapi-mail
